<h1 class="mt-3">TodoApp!</h1>
<h3>What's todo today?</h3>
<div *ngIf="alertNotif" class="alert alert-success alert-dismissible fade show shadow mb-4" role="alert">
    <strong>Success!</strong> {{ alertMessage }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="card shadow my-3 py-3 px-4">
    <form id="newTodo" #newTodo="ngForm" (ngSubmit)="addTodo(newTodo.value)">
        <div class="input-group mb-3">
            <input type="text" name="title" class="form-control" placeholder="Enter your task here ..." ngModel>
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                <fa-icon [icon]="addNew" class="fs-5"></fa-icon>
            </button>
        </div>
    </form>
</div>
<div class="card shadow mt-4">
    <div class="card-header">
        <h3 class="card-title">Task List</h3>
    </div>
    <div class="card-body p-3">
        <table class="table table-striped">
            <tbody>
                <tr *ngFor="let todo of todoArr">
                    <td wdith="80%">
                        <fa-icon [icon]="todo.status==1?doneCheckCircle:undoneCheckCircle" class="text-success"
                            style="cursor: pointer" (click)="changeStatus(todo)"></fa-icon> {{ todo.title }}
                    </td>
                    <td width="10%" class="text-center">
                        <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal"
                            data-bs-target="#editModal" (click)="call(todo)">
                            <fa-icon [icon]="editIcon"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td *ngIf="!todoArr.length" colspan="2" class="text-center">No data available.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModalLabel">Edit Todo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="todoForm" #todoForm="ngForm" (ngSubmit)="editTodo(todoForm.value)">
                    <div class="mb-3">
                        <label for="titleTodo" class="form-label">Title</label>
                        <input type="text" name="title" id="editTitleTodo" class="form-control"
                            [(ngModel)]="todoObj.title">
                    </div>
                    <div class="mb-3">
                        <label for="bodyTodo" class="form-label" id="bodyTodo">Body</label>
                        <textarea name="body" class="form-control" placeholder="Edit your body task ..."
                            [(ngModel)]="todoObj.body"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger float-left" (click)="deleteTodo()"
                    data-bs-dismiss="modal"><fa-icon [icon]="delIcon"></fa-icon></button>
                <button type="submit" form="todoForm" class="btn btn-primary" data-bs-dismiss="modal">Update</button>
            </div>
        </div>
    </div>
</div>